html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }


 /* 버튼은 기본 margin '0'을 가집니다. 스타일 클래스 myCustomButton이 있는 버튼에 커스텀 margin 2px을 추가합니다.
 (또는 기본 폰트사이즈 16px에 상대적으로 계산된 0.125rem) 좀 더 구체적인 셀렉터를 만들기 위해  CSS 클래스 sapMBtn을 추가합니다.
 CSS에서 가장 구체적인 셀럭터 "wins"를 사용합니다.
 
 아랍어 같이 오른쪽에서 왼쪽으로 진행되는(right-to-left: rtl) 언어의 경우 왼쪽 margin을 설정하고 app 화면이 거꾸로 표시될 때 오른쪽 margin을 재설정합니다. 
 이것에 대해서 신경쓸 필요가 없습니다. 커스텀 CSS 사용하는 경우에 이러한 정보를 추가해야 합니다.
 추가 클래스 myCustomText에 bold 텍스트를 정의하고 display 'nline-block'을 설정합니다. 이 때 추가 셀렉터없이 커스텀 클래스를 정의합니다. 
 색상 정보를 아직 설정하지 않은 채로 view에서 이 작업을 실행합니다. 
 
 출력 텍스를 강조하기 위해 커스텀 CSS를 사용 또는 HTML 코드를 사용해서 개별적으로 스타일링 할 수 있는 FormattedText 컨트롤을 사용합니다. 
 커스텀 CSS 클래스 (myCustomText)을 추가하고 테마에 정의한 강조색을 설정하기 위해 theme-dependent CSS 클래스를 추가합니다.
 실제 색상은 선택된 테마에 따라 달라지므로 색상이 테마에 항상 부합하고 의미상 명확하게 표시됩니다. 사용가능한 CSS 클래스 전체 리스트는 여기를 참조하십시오.  
 CSS Classes for Theme Parameters.

 */
